
@{
    ViewBag.Title = "Không tìm thấy trang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="error-404-page text-center">
        <h2>404!</h2>
        <h3>Không tìm thấy trang</h3>
        <p>
            Trang mà bạn tìm kiếm có thể đã bị gỡ bỏ, đổi tên hoặc không tồn tại.
        </p>
    </div>
</div>
