@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Khóa tài khoản";
}
<div class="col-md-12">
    <hgroup>
        <h1 class="text-danger">Khóa tài khoản.</h1>
        <h2 class="text-danger">Tài khoản của bạn đã bị khóa.</h2>
    </hgroup>
</div>

