@{
    ViewBag.Title = "Xác thực tài khoản";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Xác thực tài khoản thành công. Vui lòng @Html.ActionLink("click vào đây để thực hiện đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
