@{
    ViewBag.Title = "Đăng nhập thất bại";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Đăng nhập không thành công với dịch vụ bên thứ 3.</h3>
</hgroup>
