@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vui lòng kiểm tra email của bạn để thực hiện mật khẩu
    </p>

</div>
	
