@{
    ViewBag.Title = "Xác nhận đặt lại mật khẩu";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Mật khẩu của bạn đã khôi phục thành công. Vui lòng  @Html.ActionLink("click vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
