
@{
    ViewBag.Title = "Trang dành cho mod";
    Layout = "~/Areas/Mod/Views/Shared/_ModLayout.cshtml";
}

<h2>Chào @ViewBag.Name</h2>
<hr/>
<ul>
    <li>
        Tạo và quản lý các bài viết của bạn ngay bây giờ bằng cách nhấp vào các menu bên cạnh.
       
    </li>
    <li>
        Mỗi khi bạn <b>tạo</b> hoặc <b>sửa</b> bài viết thì bài viết của bạn sẽ cần đến sự phê duyệt của admin để có thể hiển thị trên website.
    </li>
    <li>
        Mọi thắc mắc bạn gửi về mail <i>diepanhblog.com@gmail.com</i> để nhận được sự hỗ trợ.
    </li>
</ul>
<p>
    <b>Cảm ơn sự đóng góp của bạn cho blog <span class="fa-thumbs-o-up"></span>.</b>
</p>