@{
    ViewBag.Title = "Về tác giả";
}
<div class="col-md-12">
    <h2 class="margin-vert-20">Về Tác Giả</h2>
    <div class="row margin-bottom-30">
        <div class="col-md-12 animate fadeInLeft">
            <p>
                Ban quản trị chúng tôi là 1 nhóm những người yêu thích ngành công nghệ thông tin (IT). 
                Chúng tôi lập ra blog với mục đích chia sẻ niềm đam mê cũng như những kinh nghiệm mà chúng tôi có đến tất cả những ai yêu thích công nghệ thông tin.
            </p>
            <p class="text-center">
                <img style="margin:0 auto" src="~/Images/about.png" />
            </p>
            <p class="margin-bottom-30">
               Bạn sẽ nhận được những bài viết hướng dẫn lập trình,chia sẻ kinh nghiệm học tập cũng như
               làm việc trong ngành công nghệ thông tin, .... Hơn thế nữa khi đăng ký làm thành viên của blog, bạn có thể lưu trữ
               những bài viết mà mình yêu thích để có thể đọc lại sau này.
            </p>
        </div>
        
    </div>

</div>